[submodule "vim/vim/bundle/bundle/dracula"]
	path = vim/vim/bundle/bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "vim/bundle/dracula"]
	path = vim/bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "vim/vim/bundle/vim"]
	path = vim/vim/bundle/vim
	url = git@github.com:dracula/vim.git
[submodule "vim/vim/bundle/dracula"]
	path = vim/vim/bundle/dracula
	url = git@github.com:dracula/vim.git
